<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido - {{ minion_id }}</title>
</head>
<body style="font-family:sans-serif;text-align:center;margin-top:10%">
    <h1>¡Hola desde {{ minion_id }}!</h1>
    <p>Servidor desplegado automáticamente con Terraform + Salt Project 🧂</p>
</body>
</html>
